{% extends 'base.html' %}
{% block body %}
    <section class="hero bg-base is-fullheight">
        <div class="hero-body">
            <div class="">
                <div class="columns" data-aos="fade-left">
                    <img class="image has-image-centered mt-4"
                         src="//cyks.pse.is/botpic"
                         alt="hero image"
                         style="width: 20rem;"
                    />
                    <div class="column mr-6 mt-12" data-aos="fade-up">
                        <p class="title has-text-white has-text-weight-bold">
                            404 - 找不到頁面
                        </p>
                        <p class="subtitle has-text-grey-light is-size-6 mt-3">
                            404 - Page Not Found
                        </p>
                        <div class="buttons">
                            <a href="https://www.dybts.ml"
                               class="button is-info">
                                <strong>回首頁</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock body %}
