{% extends 'base.html' %}
{% block body %}
    <!-- Hero Section Start -->
    <section class="hero bg-base is-fullheight">
        <div class="hero-body">
            <div class="">
                <div class="columns aos-init aos-animate" data-aos="fade-left">
                    <div class="column mr-6 mt-12 aos-init aos-animate" data-aos="fade-up">
                        <p class="title has-text-white has-text-weight-bold">
                            非常感謝您選擇了DYBTS
                        </p>
                        <p class="subtitle has-text-grey-light is-size-6 mt-3">
                            這隻機器人有一個非常強大的支援團隊，如果使用上有任何問題歡迎至此詢問
                        </p>
                        <a type="button" class="button is-info" href="https://discord.gg/7AHak4nSbE"><strong>加入支援伺服器</strong></a>
                        <a type="button" class="button is-info" href="https://dybts.ml/terms/"><strong>查看條款</strong></a>
                        <a type="button" class="button is-info" href="https://dybts.ml"><strong>回到首頁</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}