{% extends 'base.html' %}
{% load static %}
{% block body %}
    <!-- Hero Section Start -->
    <section class="hero bg-base">
        <div class="hero-body">
            <div class="">
                <div class="columns aos-init aos-animate" data-aos="fade-left">
                    <div class="column mr-6 mt-12 aos-init aos-animate" data-aos="fade-up">
                        <p class="title has-text-white has-text-weight-bold">
                            非常感謝您選擇了DYBTS
                        </p>
                        <p class="subtitle has-text-grey-light is-size-6 mt-3">
                            這隻機器人有一個非常強大的支援團隊，如果使用上有任何問題歡迎至此詢問
                        </p>
                        <input type="button" value="加入支援伺服器" class="button is-info" href="https://discord.gg/7AHak4nSbE">
                        <input type="button" value="服務條款(TOS)" class="button is-info" href="https://dybts.ml/terms/tos">
                        <input type="button" value="回到首頁" class="button is-info" href="https://dybts.ml">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}