{% extends 'base.html' %}
{% block body %}
    <!-- Hero Section Start -->
    <section class="hero bg-base">
        <div class="hero-body">
            <div class="columns aos-init aos-animate" data-aos="fade-left">
                    <div class="column mr-6 mt-12" data-aos="fade-up">
                        <p class="title has-text-white has-text-weight-bold">
                            非常感謝您選擇了DYBTS，為了維護您使用本機器人的權益，請詳細閱讀以下條款
                        </p>
                    </div>
               </div>
        </div>
    </section>

    <!-- Terms of Service Section Start -->
    <section id="features" class="section mt-6">
        <div style="width: 70%; margin-left: 15%; max-width: 1900px">
            <!-- single feature start (Left) -->
            <div class="single-feature">

                <div class="columns mt-6">
                    <div class="column mr-6">
                        <h4 class="title">一、隱私權保護政策適用範圍</h4>
                        <p class="subtitle mt-3">
                            •隱私權保護政策內容，包跨本服務如何處理您使用任一功能時收集到的伺服器資料、使用者資料等。本隱私權保護政策不適用於本機器人以外的相關連結機器人
                        </p>
                    </div>
                </div>
            </div>
            <!-- single feature end (Left) -->

            <!-- single feature start (Right) -->
            <div class="single-feature">

                <div class="columns mt-6">
                    <div class="column">
                        <h4 class="title">
                            二、個人資料的蒐集、處理與利用方式
                        </h4>
                        <p class="subtitle mt-3">
                            •您在使用本服務時並不會存取用戶機密資料，例如：用戶TOKEN、用戶帳號、密碼等<br>•當您在使用本服務時，會存取以下列舉之資訊<br>   •用戶頭像<br>   •用戶ID<br>   •成員DATA(包含內部內容、操作等)<br>    •訊息內容(刪除與編輯訊息時存取)<br>•本服務不會分享、轉賣您的個人資料或群組資料來宣傳與買賣，並且我們不會分享您的個人、群組等資訊給予第三方，且法律也有所要求<br>•我們僅會在您存取服務時保存所蒐集之資訊<br>•我們所蒐集之資訊將使用商業上合理方式加以保護您的資料，且採取嚴格、加密等保護資訊安全的措施，以防止丟失和被盜，以及未經授權的訪問、披露、複製、使用或修改
                        </p>
                    </div>
                </div>
            </div>
            <!-- single feature end (Right) -->

            <!-- single feature start (Left) -->
            <div class="single-feature">

                <div class="columns mt-6">
                    <div class="column mr-6">
                        <h4 class="title">
                            三、資料之保護
                        </h4>
                        <p class="subtitle mt-3">
                            •本服務相關服務主機皆均設有防火牆、防毒系統等相關資訊安全設備及必要的安全防護措施，加以保護您或群組的資料並採用嚴格的加密措施，只有經過授權的人員可以接觸您或伺服器相關資料<br>本機器人託管主機所使用的防毒軟體：Avast<br>加密方式：2FA多重驗證、AES、DES等加密法
                        </p>
                    </div>
                </div>
            </div>
            <!-- single feature end (Left) -->

            <!-- single feature start (Right) -->
            <div class="single-feature">

                <div class="columns mt-6">
                    <div class="column">
                        <h4 class="title">四、與第三人共用個人資料之政策</h4>
                        <p class="subtitle mt-3">
                            •本服務決不會提供、交換、出租或販售任何您的使用者資輛給其他個人、團體、私人企業或公務機關<br>•若有法律依據或合約義務者不再此限<br>•承第四大條第一條第一項，以下提及之情況則不受該限<br>    •經由您本人同意<br>    •法律明文規定<br>    •為免除您生命、身體、自由或財務上的危險<br>    •與公務機關或學術研究機構活做，基於公共利益而統計或學術研究必要、且資料經過提供者處理或蒐集著依其揭露方式無法辨識特定當事人<br>    •有利於您的權益
                        </p>
                    </div>
                </div>
            </div>
            <!-- single feature end (Right) -->
            <div class="single-feature">

                <div class="columns mt-6">
                    <div class="column">
                        <h4 class="title">五、隱私權保護政策之修正</h4>
                        <p class="subtitle mt-3">
                            •本服務之隱私權政策將因應需求而修正，修正後會於Discord發送公告、且放入機器人公開版
                        </p>
                    </div>
                </div>
            </div>
            <div class="single-feature">
            <div class="single-feature">

                <div class="columns mt-6">
                    <div class="column">
                        <h4 class="title">六、所蒐集之資料刪除方式</h4>
                        <p class="subtitle mt-3">
                            •若使用者不願意讓本服務蒐集資料，請至本機器人支援群組<br>•若要刪除使用者的資料，請使用delete_data進行操作
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Features Section End -->

    <!-- Stats Section Start -->
    <section id="stats" class="section mt-6">
        <!--<div class="has-text-centered">
            <h1 class="title lined">Stats</h1>
            <div class="line line-center blurple"></div>
        </div>
        <div class="columns mt-6">
            <div class="column has-text-centered">
                <p class="title has-text-weight-bold lined">000</p>
                <span class="subtitle has-text-weight-bold blurple"><i class="fa-solid fa-server"></i> Servers</span>
            </div>
            <div class="column has-text-centered">
                <p class="title has-text-weight-bold lined">000</p>
                <span class="subtitle has-text-weight-bold blurple"><i class="fa-solid fa-terminal"></i> Commands</span>
            </div>
            <div class="column has-text-centered">
                <p class="title has-text-weight-bold lined">000</p>
                <span class="subtitle has-text-weight-bold blurple"><i class="fa-solid fa-users"></i> Users</span>
            </div>
        </div>-->
    </section>
    <!-- Stats Section End -->

    <!-- Invite Section Start -->
    <section class="section mt-6">
        <div class="columns">
            <div class="column has-text-left">
                <p class="title has-text-weight-bold">
                    還在猶豫甚麼？趕快邀請DYBTS來你的伺服器吧！
                </p>
                <p class="subtitle mt-3 has-text-gray">
                    邀請我把你的Discord伺服器變得不一樣
                </p>
                <a href="https://discord.com/oauth2/authorize?client_id=1008634918869418024&permissions=1644971949567&redirect_uri=https%3A%2F%2Fdybts.ml%2Finvited&response_type=code&scope=bot%20applications.commands" class="button is-blurple is-medium">
                    <strong>
                        <i class="fa-solid fa-book"></i>
                        開始吧！
                    </strong>
                </a>
            </div>

            <div class="column"></div>
        </div>
    </section>
{% endblock body %}
