{% extends 'base.html' %}
{% block body %}
    <!-- Hero Section Start -->

    <section class="hero bg-base is-fullheight">
        <div class="hero-body">
            <div class="">
                <div class="columns aos-init aos-animate" data-aos="fade-left">
                    <img class="image has-image-centered mt-4"
                         src="https://cdn.discordapp.com/avatars/1008634918869418024/8e63f43dc457a2598a101ad24b2ecf98.png?size=1024"
                         alt="hero image" style="width: 20rem;">
                    <div class="column mr-6 mt-12 aos-init aos-animate" data-aos="fade-up">
                        <p class="title has-text-white has-text-weight-bold">
                            選擇您要查看的條款
                        </p>
                        <div class="buttons">
                            <a type="button" class="button is-info" href="https://dybts.ml/terms/tos"><strong>服務條款(TOS)</strong></a>
                            <a type="button" class="button is-info" href="https://dybts.ml/terms/privacy"><strong>隱私條款(Privacy)</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}
