{% extends 'base.html' %}
{% load static %}
{% block body %}
    <!-- Hero Section Start -->
	<section class="hero bg-base is-fullheight">
        <div class="hero-body">
            <div class="">
                <div class="columns" data-aos="fade-left">
                    <img class="image has-image-centered mt-4"
                         src="https://cdn.discordapp.com/avatars/1008634918869418024/8e63f43dc457a2598a101ad24b2ecf98.png?size=1024"
                         alt="hero image"
                         style="width: 20rem;"
                    />
                    <div class="column mr-6 mt-12" data-aos="fade-up">
                        <p class="title has-text-white has-text-weight-bold">
                            請選擇您要閱讀的條款
                        </p>
                        <input type="button" value="服務條款(TOS)" class="button is-info" onclick="location.href='https://dybts.ml/terms/tos'">
                        <input type="button" value="隱私條款(Privacy)" class="button is-info" onclick="location.href='https://dybts.ml/terms/privacy'">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}