{% extends 'base.html' %}
{% load static %}
{% block body %}
    <!-- Hero Section Start -->
    <section class="hero bg-base is-fullwidth">
        <div class="hero-body">
            <div class="">
                <div class="columns aos-init aos-animate" data-aos="fade-left">
                    <div class="column mr-6 mt-12" data-aos="fade-up">
                        <p class="title has-text-white has-text-weight-bold">
                            請選擇您要閱讀的條款
                        </p>
                        <input type="button" value="服務條款(TOS)" class="button is-info" href="https://dybts.ml/terms/tos">
                        <input type="button" value="隱私條款(Privacy)" class="button is-info" href="https://dybts.ml/terms/privacy">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}